<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="header">
		{% if user.is_authenticated %}
		<a href="{% url 'logout' %}">logout</a>
		{% endif %}
		<ul>
			<li><a href="{% url 'home' %}">Home</a></li>
			{% if user.is_staff %}
			<li><a href="{% url 'users' %}">Users</a></li>
			<li><a href="{% url 'category' %}">Categories</a></li>
			<li><a href="{% url 'food' %}">Foods</a></li>
			{% endif %}
		</ul>
	</div>
	<div class="container">
		{% block container %}
		{% endblock %}
	</div>

</body>

</html>