<header class="main_header">
	<div class="main_header_links">
		<div class="main_header_link">
			<a href="/goods" {%if route == 'goods'%} class="active" {%else%} class="" {%endif%}>
				Goods
			</a>
		</div>
		<div class="main_header_link">
			<a href="/providers" {%if route == 'providers'%} class="active" {%else%} class="" {%endif%}>
				Providers
			</a>
		</div>
		<div class="main_header_link">
			<a href="/orders" {%if route == 'orders'%} class="active" {%else%} class="" {%endif%}>
				Orders
			</a>
		</div>
		<div class="main_header_link">
			<a href="/home" {%if route == 'home'%} class="active" {%else%} class="" {%endif%}>
				Home page
			</a>
		</div>
	</div>
</header>