<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<title>Inventory management</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
	<div class="main">
		<div class="header">
			{% include'header.html' %}
			<include src="header.html"></include>
		</div>
		<div class="main_table">
			<table class="main_table_goods">
				<tr>
					<th>
						Name
					</th>
					<th>
						Last Name
					</th>
					<th>
						Email
					</th>
					<th>
						Company Name
					</th>
					<th>
						Action
					</th>
				</tr>
				{% for provider in providers %}
				<tr>
					<td>{{ provider.first_name }}</td>
					<td>{{ provider.last_name }}</td>
					<td>{{ provider.email }}</td>
					<td>{{ provider.company_name }}</td>
					<td id="action">
						<a href="/providers/delete/{{provider.id}}">Delete</a>
						<button class="btn_provider" onclick="showPopup()" value="{{provider.id}}">
							update
						</button>
					</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div id="popup-overlay">
			<div id="popup">
				<div class="popup_form">
					<form action="/providers/update" , method="post">
						<div class="popup_form_item">
							<label for="name">
								First name
							</label>
							<input type="text" name="first_name" id="popup_first_name">
						</div>
						<div class="popup_form_item">
							<label for="last_name">
								Last name
							</label>
							<input type="text" name="last_name" id="popup_last_name">
						</div>
						<div class="popup_form_item">
							<label for="email">
								Email
							</label>
							<input type="text" name="email" id="popup_email">
						</div>
						<div class="popup_form_item">
							<label for="company_name">
								Company name
							</label>
							<input type="text" name="company_name" id="popup_company_name">
						</div>
						<div class="popup_form_item" style="display: none;">
							<input type="text" name="provider_id" id="popup_id">
						</div>
						<div class="popup_form_item">
							<input id="submit" type="submit" value="Update provider">
						</div>
					</form>
				</div>
			</div>
		</div>
		<div class="main_form">
			<form action="/providers/add" , method="post">
				<div class="main_form_item">
					<label for="name">
						First name
					</label>
					<input type="text" name="first_name">
				</div>
				<div class="main_form_item">
					<label for="cost">
						Last name
					</label>
					<input type="text" name="last_name">
				</div>
				<div class="main_form_item">
					<label for="cost">
						Email
					</label>
					<input type="text" name="email">
				</div>
				<div class="main_form_item">
					<label for="cost">
						Company name
					</label>
					<input type="text" name="company_name">
				</div>
				<div class="main_form_item">
					<input id="submit" type="submit" value="Add provider">
				</div>
			</form>
		</div>

</body>
<script src="{{url_for('static', filename='scripts/scripts.js')}}"></script>

</html>